.drawingToolsPrimaryDragHandle div {
    width:12px;
    height:12px;
    border:solid 2px #0086ff;
    background-color:#fff;
    border-radius:7px;
    margin:-7px 0 0 -7px;
    cursor:move;
}

    .drawingToolsPrimaryDragHandle div:hover {
        background-color:#999;        
    }


.drawingToolsSecondaryDragHandle div {
    width:12px;
    height:12px;
    border:solid 2px #0086ff;    
    background-color:#fff;
    border-radius:7px;
    margin:-7px 0 0 -7px;
    opacity:0.5;
    cursor:move;
}

    .drawingToolsSecondaryDragHandle div:hover {
        background-color:#999;
        opacity:1;
    }

.drawingToolsIcon {
    width: 28px;
    height: 28px;
    float: left;
    position: relative;
    margin: 3px;
    background-image:url(DrawingTools_ToolbarIcons.png);
}

.drawingToolsIcon_pushpin {
    background-position: -8px -88px;
}

.drawingToolsIcon_polyline{
    background-position: -52px -88px;
}

.drawingToolsIcon_polygon {
    background-position: -96px -88px;
}

.drawingToolsIcon_circle {
    background-position: -140px -88px;
}

.drawingToolsIcon_rectangle {
    background-position: -184px -88px;
}

.drawingToolsIcon_erase {
    background-position: -228px -88px;
}

.drawingToolsIcon_edit {
    background-position: -272px -88px;
}

.drawingToolsIcon_strokeColor {
    background-position: -404px -88px;
}

.drawingToolsIcon_fillColor {
    background-position: -360px -88px;
}

.drawingToolsIcon_strokeThickness {
    background-position: -448px -88px;
}

.drawingToolsIcon_strokeDashArray {
    background-position: -492px -88px;
}

.drawingToolsIcon_pushpin:hover {
    background-position: -8px -48px;
}

.drawingToolsIcon_polyline:hover{
    background-position: -52px -48px;
}

.drawingToolsIcon_polygon:hover {
    background-position: -96px -48px;
}

.drawingToolsIcon_circle:hover {
    background-position: -140px -48px;
}

.drawingToolsIcon_rectangle:hover {
    background-position: -184px -48px;
}

.drawingToolsIcon_erase:hover {
    background-position: -228px -48px;
}

.drawingToolsIcon_edit:hover {
    background-position: -272px -48px;
}

.drawingToolsIcon_strokeColor:hover {
    background-position: -404px -48px;
}

.drawingToolsIcon_fillColor:hover {
    background-position: -360px -48px;
}

.drawingToolsIcon_strokeThickness:hover {
    background-position: -448px -48px;
}

.drawingToolsIcon_strokeDashArray:hover {
    background-position: -492px -48px;
}

.drawingToolsIcon_pushpin:active, .drawingToolsIcon_pushpin_active {
    background-position: -8px -8px;
}

.drawingToolsIcon_polyline:active, .drawingToolsIcon_polyline_active {
    background-position: -52px -8px;
}

.drawingToolsIcon_polygon:active, .drawingToolsIcon_polygon_active {
    background-position: -96px -8px;
}

.drawingToolsIcon_circle:active, .drawingToolsIcon_circle_active {
    background-position: -140px -8px;
}

.drawingToolsIcon_rectangle:active, .drawingToolsIcon_rectangle_active {
    background-position: -184px -8px;
}

.drawingToolsIcon_erase:active, .drawingToolsIcon_erase_active {
    background-position: -228px -8px;
}

.drawingToolsIcon_edit:active, .drawingToolsIcon_edit_active {
    background-position: -272px -8px;
}

.drawingToolsIcon_strokeColor:active, .drawingToolsIcon_strokeColor_active {
    background-position: -404px -8px;
}

.drawingToolsIcon_fillColor:active, .drawingToolsIcon_fillColor_active {
    background-position: -360px -8px;
}

.drawingToolsIcon_strokeThickness:active, .drawingToolsIcon_strokeThickness_active {
    background-position: -448px -8px;
}

.drawingToolsIcon_strokeDashArray:active, .drawingToolsIcon_strokeDashArray_active {
    background-position: -492px -8px;
}

.drawingToolsColor {
    width:15px;
    height:15px;
    margin:4px;
    float:left;
    border:1px solid #999;
}

.drawingToolsColor:hover {
    border:1px solid #000;
}

.drawingToolsFlyout {
    position:absolute;
    width:150px;
    height:135px;
    background-color:#fff;
    border: 1px solid #000;
    z-index:2000;
    font-family:Arial, sans-serif;
}

    .drawingToolsFlyout span {
        margin:3px 5px 0 5px;
    }

    .drawingToolsFlyout input[type=text] {
        margin:2px;
    }

.drawingToolsFlyout_line {
    cursor:pointer;
}

.drawingToolsFlyout_line:hover {
    background-color: #c3c3c3;
}

.drawingToolsFlyout_selected {
    background-color: #26a0da;
}


/* Bug fix for mouse events on Polylines and Polygons in IE11 */
.MicrosoftMapDrawing, .MapPushpinBase {
    pointer-events: auto !important;
}
