footer.site-footer.fixed
  div.grid.footer-grid
    div.row
      div.span4.socialmedia.footer-links
        a(href='https://twitter.com/intent/tweet?text=ATHENA%20Civic%20Insights&url=http://civicinsight.azurewebsites.net/')
          i.fa.fa-twitter-square.fa-2x#twitter
        a(href='https://www.facebook.com/sharer/sharer.php?u=http://civicinsight.azurewebsites.net/')
          i.fa.fa-facebook-square.fa-2x#facebook
        a(href='https://www.linkedin.com/shareArticle?+Civic+Innovation+team%2E=&mini=true&summaryATHENA+is+an+open+source+data+and+visualization+project+initiated+by+Microsoft%27s+Technology+=&source=http%3A%2F%2Fcivicinsight%2Eazurewebsites%2Enet%2F&title=ATHENA+Civic+Insights&url=http%3A%2F%2Fcivicinsight%2Eazurewebsites%2Enet%2F')
          i.fa.fa-linkedin-square.fa-2x#linkedin
        a(href='https://github.com/microsoftny/athena-civic')
          i.fa.fa-github-square.fa-2x#github
      a.span4.offset4.footer-links(href='/about') 
        h4#developer Help Build ATHENA