nav#main-nav.main-nav
  br
  .group-items.types#left-nav
      a(href="/about")
        label
          .typestext
            strong
              h3 About
      a(href="/api")
        label
          .typestext
            strong
              h3 API
      a(href="/community")
        label
          .typestext
            strong
              h3 Our Community
      a(href="/")
        label
          .typestext
            strong
              h3 Athena
      a(href="/join")
        label
          .typestext
            strong
              h3 Become A Member