<!-- collaboration.hbs -->
<div id="collaboration-{{idx}}" data-role="input-control" class="input-control text">
  <input type="text" name="collaboration" placeholder="Collaborator" list="collaborator-list" class="collaborator"/>
  <datalist id="collaborator-list"></datalist>
</div>
<!-- end collaboration.hbs -->
