<!-- d3-route-tip.jade -->
span
  | #{cityA}
  | -
  | #{cityB}
  | ,
  br
  | #{count}
  | connections,
  br
  | #{parseFloat((count /totalCount) * 100).toFixed(2)}
  | % of total connections
<!-- end d3-route-tip.jade -->
