.input-control.text(id="data-" + idx, data-role='input-control')
  input.data-entity(
    type='text'
    name='data'
    placeholder='Data Resource'
    list='data-received-list'
  )
  datalist#data-received-list
