<!-- data.hbs -->
<div id="data-{{idx}}" data-role="input-control" class="input-control text">
  <input type="text" name="data" placeholder="Data Resource" list="data-received-list" class="data-entity"/>
  <datalist id="data-received-list"></datalist>
</div>
<!-- end data.hbs -->
