<!-- employment.hbs -->
<div id="employment-{{idx}}">
  <div class="employment-input input-control text" data-role="input-control">
    <input type="text" class="employer" list="employment-list" name="employment" placeholder="Employer" style="display:inline-block; width:100%;"/>
    <datalist id="employment-list"></datalist>
  </div>
</div>
<!-- end employment.hbs -->
