<!-- expenses.hbs -->
<div id="expense-{{idx}}">
  <div data-role="input-control" class="expense-input input-control text">
    <input type="text" name="expense_amt" placeholder="Amount" style="display:inline-block; width: 57%;" class="expense_amt"/>
    <input type="text" name="expense_year" placeholder="Year" style="display:inline-block; width: 20%;" class="expense_year"/>
  </div>
</div>
<!-- end expenses.hbs -->
