<!-- funding.hbs -->
<div id="#funding-{{idx}}">
  <div data-role="input-control" class="fund-input input-control text">
    <input type="text" name="fund" placeholder="Funder" style="display:inline-block; width:50%;"
      list="funding-received-list" class="funder"/>
    <datalist id="funding-received-list"></datalist>
    <input type="text" name="fund_amt" placeholder="Amount" style="display:inline-block; width: 27%;"
      class="fund_amt"/>
    <input type="text" name="fund_year" placeholder="Year" style="display:inline-block; width: 20%;"
      class="fund_year"/>
  </div>
</div>
<!-- end funding.hbs -->
