<!-- investment-made.hbs -->
<div id="#investmentmade-{{idx}}">
  <div data-role="input-control" class="investmade-input input-control text">
    <input type="text" name="investmade" placeholder="Investee" style="display:inline-block; width:50%;"
      list="investment-made-list" class="investee"/>
    <datalist id="investment-made-list"></datalist>
    <input type="text" name="investmade_amt" placeholder="Amount" style="display:inline-block; width: 27%;"
      class="investmade_amt"/>
    <input type="text" name="investmade_year" placeholder="Year" style="display:inline-block; width: 20%;"
      class="investmade_year"/>
  </div>
</div>
<!-- end investment-made.hbs -->
