<!-- investing.hbs -->
<div id="investing-{{idx}}">
  <div data-role="input-control" class="invest-input input-control text">
    <input type="text" name="invest" placeholder="Investor" style="display:inline-block; width:50%;"
      list="investment-received-list" class="investor"/>
    <datalist id="investment-received-list"></datalist>
    <input type="text" name="invest_amt" placeholder="Amount" style="display:inline-block; width: 27%;"
      class="invest_amt"/>
    <input type="text" name="invest_year" placeholder="Year" style="display:inline-block; width: 20%;"
      class="invest_year"/>
  </div>
</div>
<!-- end investing.hbs -->
