<!-- key-people.jade -->
div.input-control.text(id="#key-people-" + idx, data-role="input-control")
  input(
    type="text"
    name="kpeople"
    class="kpeople"
    placeholder="Key Person\'s Name"
  )
<!-- end key-people.jade -->
