<!-- key-people.hbs -->
<div id="key-people-{{idx}}" data-role="input-control" class="input-control text">
  <input type="text" name="kpeople" placeholder="Key Person's Name" class="kpeople"/>
</div>
<!-- end key-people.hbs -->
