<!-- loc.hbs -->
<div id="#location-{{idx}}" data-role="input-control" class="input-control text">
  <input id="location" type="text" name="location" placeholder="City" class="locations"/>
</div>
<!-- end loc.hbs -->
