<!-- location.hbs -->
<div id="#location-{{idx}}" data-role="input-control" class="input-control text">
  <input id="location" type="text" name="location" placeholder="City" list="list-location"
    style="width:50%;" class="locations"/>
  <input id="state" type="text" placeholder="State" style="width:22%;"/>
  <input id="country" type="text" placeholder="Country" style="width:28%;"/>
</div>
<!-- end location.hbs -->
