<!-- revenue.hbs -->
<div id="revenue-{{idx}}">
  <div data-role="input-control" class="revenue-input input-control text">
    <input type="text" name="revenue_amt" placeholder="Amount" style="display:inline-block; width: 57%;"
      class="revenue_amt"/>
    <input type="text" name="revenue_year" placeholder="Year" style="display:inline-block; width: 20%;"
      class="revenue_year"/>
  </div>
</div>
<!-- end revenue.hbs -->
