extends layout

block content
  include ./partials/left-nav
  .grid
    .row.about-text
      br
      h2.span8.offset6 
        strong Welcome to ATHENA civic insights developers portal!
      p.span8.offset6 ATHENA is an open source data and visualization project initiated by Microsoft's Technology & Civic Innovation team. 
      p.span8.offset6 The purpose of ATHENA is to provide insights into the burgeoning civic tech community -- who it consists of, what their respective focus areas are, and how they connect to one another. 
      p.span8.offset6 ATHENA takes a broad definition of civic tech and includes for-profit, non-profit, government agencies, and individuals.  
      p.span8.offset6 We see ATHENA as an educational tool, as a platform to crowdsource up-to-date information regarding the civic tech community, and as a basis to use the data to build out new visualizations, tools, and apps. 
      p.span8.offset6 We invite you to contribute to ATHENA by: 
      p.span8.offset6 Adding or editing our current information (link to the app) 
      p.span8.offset6 Use ATHENA's data in other projects via our API (link to the API page) 
      p.span8.offset6 Help us to improve ATHENA by contributing to our source code (link to the git project) 
      p.span8.offset6 Sincerely, The ATHENA team. 