extends layout

block content
  include ./partials/left-nav
  .grid.mainbody
    .row.about-text
      br
      h2.span8.offset2
        strong Welcome to ATHENA civic insights developers portal!
      p.span8.offset2 ATHENA is an open source data and visualization project initiated by Microsoft's Technology & Civic Innovation team. 
      p.span8.offset2 The purpose of ATHENA is to provide insights into the burgeoning civic tech community -- who it consists of, what their respective focus areas are, and how they connect to one another. 
      p.span8.offset2 ATHENA takes a broad definition of civic tech and includes for-profit, non-profit, government agencies, and individuals.  
      p.span8.offset2 We see ATHENA as an educational tool, as a platform to crowdsource up-to-date information regarding the civic tech community, and as a basis to use the data to build out new visualizations, tools, and apps. 
      p.span8.offset2 We invite you to contribute to ATHENA by: 
      ol.span8.offset2(style='padding-left:50px;')
        li 
          a(href='/')
            span Adding 
          span or 
          a(href='/')
            span editing
          span  our current information
        li
          span Use ATHENA's data in other projects via our 
          a(href='/api') 
            span API 
        li
          span Help us to improve ATHENA by contributing to our 
            a(href='https://github.com/microsoftny/athena-civic')
              span source code  
      div.span8.offset2(style='margin-top:25px;')
        p Sincerely, 
      div.span8.offset2
        p The ATHENA team. 
  include ./partials/relative-footer