extends layout

block content
  include ./partials/left-nav
  .grid
    .row.about-text
      br
      h2.span8.offset6 
        strong Use ATHENA database to build your own project or to integrate with an existing project. 
      p.span8.offset6 GET CALL - demo 
        p.span8.offset6 Code examples (Python, Ruby & Java) 
