extends layout

block content
  include ./partials/left-nav
  .grid
    .row.about-text
      br
      h2.span8.offset6 
        strong Our Community 
      p.span8.offset6 Whether you are a developer or not, you can be part of our fast growing community! 
      p.span8.offset6 Contribute your knowledge by adding information to ATHENA database (link to the app)
      p.span8.offset6 Help us to improve ATHENA - visit our git page (link to git) 
