doctype html
html
  head
  title= title

  script(type='text/javascript', src='http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0')
  script(type='text/javascript', src='bundle.js')

  body.metro
  include ./partials/nav-bar
  #wrapper
    block content
