doctype html
html
	head
		title= title
		
		link(rel='shortcut icon', href='/images/microsoft.ico')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/Metro-UI-CSS-master/css/metro-bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/Metro-UI-CSS-master/css/metro-bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/herograph.css')
		link(rel='stylesheet', href='/stylesheets/checkboxes.css')

		script(type='text/javascript', src='/stylesheets/Metro-UI-CSS-master/min/jquery.min.js')
		script(type='text/javascript', src='/stylesheets/Metro-UI-CSS-master/min/jquery.widget.min.js')
		script(type='text/javascript', src='/stylesheets/Metro-UI-CSS-master/min/metro.min.js')
		script(type='text/javascript', src='/javascripts/aight-master/aight.js')
		script(type='text/javascript', src='/javascripts/d3.v3.min.js')
	body.metro
		block content