doctype html
html
  head
  title= title

  script(type='text/javascript', src='http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0')

  script.
    window.civicStore = !{civicStore};

  body.metro
  include ./partials/nav-bar
  #wrapper
    block content

  script(type='text/javascript', src='bundle.js')
