doctype html
html
	head
		title= title
		
		link(rel='shortcut icon', href='/images/microsoft.ico')
		link(rel='stylesheet', href='/stylesheets/reset.css')
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/Metro-UI-CSS-master/css/metro-bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/Metro-UI-CSS-master/css/metro-bootstrap-responsive.css')
		link(rel='stylesheet', href='/stylesheets/Metro-UI-CSS-master/min/iconFont.min.css')
		link(rel='stylesheet', href='/stylesheets/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/herograph.css')
		link(rel='stylesheet', href='/stylesheets/checkboxes.css')
		link(rel='stylesheet', href='/stylesheets/footer.css')
		link(rel='stylesheet', href='/stylesheets/left-nav.css')

		script(type='text/javascript', src='/stylesheets/Metro-UI-CSS-master/min/jquery.min.js')
		script(type='text/javascript', src='http://d3js.org/d3.v3.min.js')
	body.metro
		include ./partials/nav-bar
		#wrapper
			block content
		include ./partials/footer