doctype html
html
  head
  title= title

  script(type='text/javascript', src='http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js')
  script(type='text/javascript', src='//cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.7/jquery.devbridge-autocomplete.min.js')

  script.
    window.civicStore = !{store};

  body.metro
  include ./partials/nav-bar
  #wrapper
    block content

  script(type='text/javascript', src='bundle.js')
