
<nav id="main-nav" class="main-nav"><br/>
  <div id="left-nav" class="group-items types"><a href="/about">
      <label>
        <div class="typestext"><strong>
            <h3>About</h3></strong></div>
      </label></a><a href="/api">
      <label>
        <div class="typestext"><strong>
            <h3>API</h3></strong></div>
      </label></a><a href="/community">
      <label>
        <div class="typestext"><strong>
            <h3>Our Community</h3></strong></div>
      </label></a><a href="/">
      <label>
        <div class="typestext"><strong>
            <h3>Athena</h3></strong></div>
      </label></a>
  </div>
</nav>