
<nav class="navigation-bar dark fixed-top shadow">
  <nav class="navigation-bar-content container navigation-items">
    <div class="navstyle element athena-logo">
      <div><a id="website-name" href="JavaScript: location.reload(true);"><span class="large">ATHENA</span><span class="small">civic insights</span></a></div>
    </div><a href="http://www.microsoft.com/en-us/default.aspx" target="_blank" class="element msft-logo"><img id="logo" src="images/ms_logo.png" align="right" height="200" width="120"/></a>
  </nav>
</nav>